body, html {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.inputs {
    width: 30%;
    padding: 5px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.entradas{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}

.entradas label{
    text-align: left;
    width: 100%;
    padding: 10px 0px;

    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.entradas input{
    width: 95%;

    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}


button {
    padding: 10px;
    background-color: #007bff !important;
    color: white;
    border: none !important;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.fc-left{
    text-transform: capitalize;
}

.calendar {
    flex-grow: 1; /* Permite que el calendario ocupe el espacio restante */
    max-width: 70%; /* Establece un ancho máximo para el calendario */
    padding: 20px;
    overflow-x: auto; /* Permite desplazamiento horizontal si el contenido es muy ancho */
}


.project-table {
    margin-top: 20px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}


.fechaCorte{
    width: 95%;
    display: flex;    
    flex-direction: column;
}

.fechaCorte input[type="date"] {
    width: 95%; /* Ancho fijo para los inputs */
    padding: 8px; /* Padding interno para hacerlo más grande */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados */
    display: block; /* Asegurarse de que los inputs estén en líneas nuevas */
    margin-bottom: 10px; /* Espacio debajo de los inputs */
}


.fin-de-semana {
    background-color: #8d8c8c; /* Color gris claro */
}

.dia-festivo {
    background-color: rgb(85, 201, 81);
    color: white;
}

.cierre-de-horas {
    background-color: rgb(237, 240, 67);
    color: black;
}


.FechasDeCorte{
    width: 100%;
    text-align: center;
}

.FechasDeCorte p{
    font-family: 'Arial', sans-serif; /* Fuente más limpia */
    color: #000000; /* Color de texto oscuro para mejor lectura */
    background-color: #ffffff; /* Fondo ligeramente gris para resaltar el área */
    padding: 10px; /* Agregar algo de espacio alrededor del texto */
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados */
    margin: 20px 0; /* Margen para separarlo de otros elementos */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave para profundidad */
    width: 80%; /* Ancho controlado */
    max-width: 600px; /* Máximo ancho permitido */
    margin-left: auto; /* Centrado horizontal */
    margin-right: auto; /* Centrado horizontal */
}